#catlog {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin-top: 100px;
    font-size: 70px;
    color: white;
}

body {
    background-image: url('images/bike.jpg');
}

#home_btn {
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    text-align: center;
    margin-top: 100px;
    margin-left: 650px;
}

a {
    color: white;
    text-decoration: none;
    text-decoration: none !important;
}